{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>OKK UI meets Postman</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body>
        <h1> OKK UI meets Postman </h1>
        <form method="post" id="form">
            {% csrf_token %}
            <select id="method" name="method">
                <option>Select an option</option>
                <option value="GET"> GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
            </select>
            <h4>http://localhost:8000/</h4>
            <select id="product" name="product">
                <option>Select an option</option>
                <option value="Acara">api/acara/</option>
                <option value="Add_Pembicara">api/add-pembicara/</option>
                <option value="Sponsor">api/sponsor/</option>
                <option value="Panitia">api/panitia/</option>
                <option value="PI">api/pi/</option>
                <option value="BPH">api/bph/</option>
                <option value="Rapat">api/rapat/</option>
                <option value="Kelompok">api/kelompok/</option>
                <option value="Mentor">api/mentor/</option>
                <option value="Mentee">api/mentee/</option>
                <option value="Mentoring">api/mentoring/</option>
                <option value="Absen_Mentoring">api/hadir-mentoring/</option>
     
        
            </select>
            <input id="header" name="header" placeholder="param">
            <button type="submit">Send</button>
            <div id="bodyRequest">
                <h3> Body</h3>
                <textarea placeholder="input valid json format" id="jsonInput" rows="10" cols="50"></textarea>
            </div>
        </form>
        <div id="response">
        <h3> Response </h3>
        <div id="jsonData"></div>
        </div>
        <script cache="reload" rel="preload" src="{% static 'js/main.js' %}"></script>    
</body>
</html>